*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1{
    padding: 20px 0;
}
body{
    font-family: "Roboto", sans serif;
    font-size: 2rem;
    padding: 15px;
    line-height: 140%;
}

.search-box{
    display: flex;
    width: 50%;
    margin: 10px;
    height: 4rem;
    justify-content: center;
    
}
.search-input{
    width: 70%;
    height: 4rem;
    border-radius: 25px;
    margin-right: 10px;
    font-size: 2rem;
    padding-left: 25px;
}
.search-button{
    background-color: rgb(204, 147, 147);
    cursor: pointer;
    width: 4rem;
     transition: background-color ease 1s;
     border-radius: 10px;
}
.search-button:hover{
     transition: background-color ease 1s;
     background-color: rgb(238, 189, 189);
}
.search-button img {
    width: 90%;
}
@media all and (max-width: 400px){
  body{
    font-size: 2rem;
}
 .search-input{
     width: 70%;
     height: 3.5rem;
     align-items: center;
}}
@media all and (max-width: 1000px){

.search-box{
    width: 90%;
}

h1{
    text-align: center;
}

}
@media all and (min-width: 400px) and (max-width: 1000px){
    body{
    font-size: 3rem;
}

}
.modal {
    text-align: center;
    
}