*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1{
    padding: 20px 0;
    font-size: 5rem
}
body{
    font-family: "Roboto", sans serif;
    font-size: 2rem;
    padding: 15px;
    line-height: 140%;
}

.search-input{
    width: 70%;
    height: 4rem;
    border-radius: 25px;
    font-size: 2rem;  
}
.btn img {
    width: 100%;
}
@media all and (max-width: 400px){
  body{
    font-size: 2rem;
}
 .search-input{
     width: 70%;
}}
@media all and (max-width: 1000px){

.search-box{
    width: 90%;
}

h1{
    font-size: 4rem;
}

}
@media all and (min-width: 1000px){
   .pokemon-list {
       display: inline
   }
    .pokemon-list li {
        text-align: left;
        display: inherit
    }
}
.btn{
    font-size: 3rem;
    margin: 10px;
}
.search-button {
    font-size: 2rem;
}
